@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');
/*표준 글꼴 서식 스타일*/
body {
font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
/* font-family: Lucida Console, Courier, monospace; */
}


/* ---------------------------------------------------------------------------------- 헤더 CSS 시작 */
header > div#main_header {
	height: 134px;
	background-color: #fdd007;
}
div#header_main_container {
	padding-top: 15px; /* 원본 사이트 top 30px */
	padding-bottom: 30px;
}
div#header_bar{
	display: flex;
	height: 26px;
}
p#header_bar_font{
	line-height: 40px;
	margin-left: 5px;
	letter-spacing: 2px; /* 글자간격 CSS */
}
div#header_center{
	justify-content: center;
}
p#header_logo {
	font-size: 65pt;
	font-weight: bold;
	line-height: 60px;
	margin: 0;
	font-family: 'Gurajada', serif;
	letter-spacing: 5px;
}
div#header_menu{
	height: 26px;
	text-align:right;
}
p#header_logo_subtitle {
	font-size: 8pt;
	color: black;
	letter-spacing: 1px;
	font-family: Lucida Console, Courier, monospace !important;
	font-weight:500;
}
a#a_login{
	color: black;
}
a#header_home{
	color: black;
	text-decoration-line: none;
}
span#cart_count{
	display:inline-block;
	background-color: white;	 
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	line-height: 22px;
	text-align: center;
	color: black;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
    right: -4px;
    top: -6px;
	font-family: 'courier', arial, sans-serif;
}
/* ---------------------------------------------------------------------------------- 헤더 CSS 끝 */




/* ---------------------------------------------------------------------------------- 네비게이션 CSS 시작 */
nav#header_nav_bar{
	display: flex !important; 
	height: 100%;
}
div#header_collapsibleNavbar{ 
	height: 100%;
	justify-content: center;
}
li.nav-item {
	font-size: 12pt;
	display: flex !important;
	margin: 0 !important;
	align-items: center;
	padding: 0;
}
a.header_nav_link {
	display: flex;
	color: white;
	letter-spacing: 2px;
	height: 100%;
	width: 100%;
	padding: 0; 
	align-items: center;
}
.nav_increment{
	height: 90px !important;
	display: flex important;
	align-items: center;
	justify-content: center;
    transform:scale(1.1,1.1); /* 스크롤시 네비바 확대되는 크기 */
}


div#nav-group_ALL {
	width: 100%;
	position: absolute;
	color: black;
    display: block;
     
    top: 100%;
    left: 0px;
    height: 260px;
    background-color: #F5F5F5;
    opacity: 0;
    transition: all ease 0.5s;
}
div#nav-group_Men {
	width: 100%;
	position: absolute;
	color: black;
    display: block;
      
    top: 100%;
    left: 0px;
    height: 260px;
    background-color: #F5F5F5;
    opacity: 0; 
    transition: all ease 0.5s;
}
div#nav-group_Women {
	width: 100%;
	position: absolute;
	color: black;
    display: block;
      
    top: 100%;
    left: 0px;
    height: 260px;
    background-color: #F5F5F5;
    opacity: 0; 
    transition: all ease 0.5s;
}
div#nav-group_Kids {
	width: 100%;
	position: absolute;
	color: black;
    display: block;
      
    top: 100%;
    left: 0px;
    height: 260px;
    background-color: #F5F5F5;
    opacity: 0; 
    transition: all ease 0.5s;
}
/* div#nav-group_Info {
	width: 100%;
	position: absolute;
	color: black;
    display: block;
    top: 100%;
    left: 0px;
    height: 260px;
    background-color: white;
    opacity: 0; 
    transition: all ease 0.5s;
} */


div#prod_view{
	padding: 0;
	height: 100%;
	width: 100%;
}
ul#prod_view_ul{
	display: flex;
	-webkit-box-align: stretch;
	width: 100%; 
	height: 100%; 
	padding: 0;
} 
li.prod_view_list{
	list-style: none;
	width: 35%; 
	height: 100%;
	margin-right: 70px;
}

a#main_logo{
	display: flex;
	position: absolute;
	top: 10%;
    left: 7%; 
	width: 172px;
	height: 32px;
	color: #fdd007;
	font-size: 38pt; 
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 4px;
	font-family: 'Gurajada', serif;
}
div#nav_bar_menu{ 
	display: flex;
	color: white; 
	position: absolute;
	align-items: center;
	top: 39%;
    left: 80%;
}
/* ---------------------------------------------------------------------------------- 네비게이션 CSS 끝 */


 

div#body{
	height: 100%;
	background-color: #fff9e7;
}
div.carousel{
	margin-bottom: 100px;
}


/* ---------------------------------------------------------------------------------- footer CSS 시작 */
div#footer_top{
	background-color: black;
	height: 140px;
	display: flex;
 	align-items: center;
}
div#footer_top_container{
	display: flex;
	align-items: center; /* 세로 가운데 기준 정렬*/
}
div#footer_title{
	width: 20%;
	color: white;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
}
div#footer_content{
	width: 33%;
	color: white;
	font-family: Lucida Console, Courier, monospace !important;
	font-size: 13px;
} 
div#footer_email{
	display: flex;
	width: 50%;
	flex-wrap: wrap;
}
input#footer_email_input{
	height: 50px;
	width: 65%;
	border: solid 1px #fdd007;
	background-color: black;
	padding: 15px;
	color: white;
}
div#email_submit_button{
	height: 50px;
	width: 35%; 
	background-color: #fdd007;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

 


div#footer_center{
	display: flex;
	height: 330px;
	background-color: #fdd007;
	text-align: center;
	justify-content: center;
}
div#footer_center_container{
	display: flex;
	padding: 60px 0px 0px 0px ;
	height: 100%;
	width: 90%;
}
div#footer_center_left{
	border-right: solid 1px black;
	height: 100%;
	text-align:left;
}
p#foot_info{
	width: 100%;
	font-size: 11pt;
	margin: 0;
	font-family: Lucida Console, Courier, monospace !important;
}

div#footer_center_right{
	height: 100%; 
	padding: 40px 0px 40px 50px;
}
div#foot_complain{
	width: 100%;
	height: 100%;
}
div#complain_title{
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
p#complain_content_p{
	margin-bottom: 40px;
	font-family: Lucida Console, Courier, monospace !important;
	font-size: 13px;
}
a.complain_img{
	display: block;
}
a.complain_text{
	color: black;
}




div#footer_bottom {
	background-color: #fdd007;
	height: 102px;
	display: flex;
	justify-content: center;
}
div#foot_social{
	display: flex;
	justify-content: center;
	width: 90%;
	align-items: center;
}
ul#social_list{
	padding-left: 0px;
	justify-content: space-between;
	display: flex; 
	width: 20%;
}
li.social_items{
	list-style: none;
}

div#footer_bottom2{
	background-color: #fdd007;
	height: 40px;
	display:flex;
	justify-content: center;
}
div#foot_last{
	width: 90%;
	display:flex;
	justify-content: center;
}
ul#foot_bottom_list{
	width: 65%; 
	display:flex;
	justify-content: space-between;
}
li.foot_bottom_list{
	list-style: none;
	font-size: 10pt;
	font-family: Lucida Console, Courier, monospace !important;
	
}
/* ---------------------------------------------------------------------------------- footer CSS 끝 */

























/*----------- 사이드바 및 전체제품목록 시작 --------------*/

	div#sidebar_area {
		padding-left: 30px;
	}

	div#sidefull {
		font-family: 'gotham-htf-bold', arial, sans-serif;
		background-color: #fff9e7;
	}

	div#sidefull > div#div_row > div#side_md_2 > div#sidebar_area > nav#sidebar_group {
		width: 100px;
		margin: 5px;
		padding: 30px 0 0 15px;
		vertical-align: baseline;
		position: relative;
	}
	
	ul.all_sidebar > li.sidebar_title_name {
		margin: 5px;
	}
	
	
	ul.all_sidebar > li.sidebar_title_name > a.big_cat {
		/* border: solid 1px red; */
		font-weight: bold;
		font-size: 20px; 
		text-align: center;
		color: black;
	}
	
	ul.all_sidebar > li.sidebar_title_name > a.middle_cat {
		/* border: solid 1px blue; */
		color: black;
		font-size: 16px;
		text-align: right;
    	text-decoration: none;
	}
	
	div.exist_select > p {
		margin-top: 52px;
		
	}
	
	div.exist_select > p > select {
		float: right;
		margin-right: 30px;
		background: none;
		
	}
	
	div > p > select.select {
		width: 100px;
		height: 30px;
		padding-left: 10px;
		font-size: 12px;
		color: black;
		border: 1px solid black;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	
	div > p > select > option { /* 정렬선택 드롭다운바 */
		font-size: 12px;
		width: 200px;
		height: 30px;
	}
	
	/* 컬러서클 */
	li.colors {
	    display:flex;
	    padding: 5 0 5 5px; 
	    margin-top: 5px;
	}
	
	li.colors > a > span  {
	    width:15px;
	    height:15px;
	    border-radius:50%;
	    cursor:pointer;
	    display:flex;
	    margin-right:6px;	
	}
	
	ul#sidebar1 {
		font-weight: bold;
		font-size: 15px; 
		text-align: center;
		color: black;
		padding: 5px;
		margin-top: 5px;
	}
	
	ul#sidebar_color > li.color_title {
		margin-bottom: 12px;
		font-weight: bold;
		font-size: 20px;
	}
	
	ul#sidebar_color > li.colors{
		padding-left: 7px;
	}
	
	ul#sidebar_color > li.colors:nth-child(2) > a:nth-child(1) > span {
	    background-color: gray;
	}

	ul#sidebar_color > li.colors:nth-child(2) > a:nth-child(2) > span {
	    background-color:pink;
	}
	
	ul#sidebar_color > li.colors:nth-child(2) > a:nth-child(3) > span {
	    background-color:red;
	}
	
	ul#sidebar_color > li.colors:nth-child(3) > a:nth-child(1) > span {
	    background-color:white;
	}
	
	ul#sidebar_color > li.colors:nth-child(3) > a:nth-child(2) > span {
	    background-color:yellow;
	}
	
	ul#sidebar_color > li.colors:nth-child(3) > a:nth-child(3) > span {
	    background-color:beige;
	}
	
	ul#sidebar_color > li.colors:nth-child(4) > a:nth-child(1) > span {
	    background-color:black;
	}
	
	ul#sidebar_color > li.colors:nth-child(4) > a:nth-child(2) > span {
	    background-color:blue;
	}
	
	ul#sidebar_color > li.colors:nth-child(4) > a:nth-child(3) > span {
	    background-color:silver;
	}
	
	
	




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.section-products {
    padding: 40px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 0px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 250px;
    width: 250px;
    max-height: 290px;
    max-width: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://moscot.com/products/lemtosh?variant=8187774206056") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://moscot.com/products/lemtosh?variant=8187774206056") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://moscot.com/products/lemtosh?variant=8187774206056") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://moscot.com/products/lemtosh?variant=8187774206056") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

div.part-2 {
	margin-bottom: 50px;
}

div.part-2 .product-title {
    font-size: 1rem;
}

div.part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}
 
.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}	






















/*-----------------------수진 로그인 css------------------------  */




/*-----------------------수진 로그인 css------------------------  */
    #p2 {
          line-height: 10px;
          letter-spacing: 0;
          font-family: 'courier', arial, sans-serif;
          font-weight: normal;
          color: black;
        font-size: 12px;
    }


   /*-----------------------수진 회원가입 css------------------------  */

   /* 아이디 이메일 중복, 우편번호찾기 버튼 */
   button#idcheck,  button#emailcheck, button#zipcodeSearch {
   
      height: 25px; 
      vertical-align: middle; /* table 태그 달아야 먹힐듯*/
      font-size:9pt;
   }
   
   /* 필수사항 표시해주는 회색별 */
   span.star { 
      color: silver;
      font-weight: bold;
      font-size: 10pt;
   }
   
   div.row {
      flex-wrap: nowrap;
   }


   /*-----------------------수진 마이페이지 css------------------------  */
   
   button#btnPay {
       cursor: pointer;
       display: inline-block;
       letter-spacing: 1px;
       position: relative;
   }
   
    a.account_nav {
      height: 30px; 
      vertical-align: middle; /* table 태그 달아야 먹힐듯*/
      font-size:12pt;
      color: black;
   }
   
   a.nav-link.active {
      height: 30px; 
      vertical-align: middle; /* table 태그 달아야 먹힐듯*/
      font-size:12pt;
      color: black !important;
      background-color: #ffc107 !important;
   }
   
   label.text-left {
      border: none;
      text-align: left !important;
      font-weight: bold;
   }
   
   /* 게시판글 card 형식으로 보이는데 필요 */
   div.card {
      font-size: 10pt;
      text-align: left; 
      border: none; 
      background-color:#fffdf5;
   } 
   
   span#product_color {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      position: relative;
      top: 5px;
   }
   
   div#div_extra {
      background-color: #fff9e5;
   }
   button#btnOrder, button#btnAdd, button#btnOptionChange, div#card_warranty {
      background-color: #fdd007;
      border: none;
   }







